*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .logo a{
    text-decoration: none;
}

header .menu img {
    height: 2rem;
}

header .menu a {
    position: relative;
}

header .menu a:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #98c1d9;
    z-index: -1;
    opacity: 0;
    transform: scale(.3);
    transition: all ease 0.4s;
}

.header .menu a:hover:before{
    opacity: 1;
    transform: scale(1);
}

h1 {
    font-weight: normal;
    font-size: 48px;
    color : #3d5a80;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color : #293241;
    margin : 15px 0 50px 0;
    line-height: 26px;
}

.hero_sec a {
    display: inline-block;
    padding: 16px 27px;
     border : 1px solid #3d5a80;
     font-size: 14px;
     color : #3d5a80;
     text-transform: uppercase;
     border-radius: 50px;
     text-decoration: none;
     position: relative;
     overflow: hidden;
      transition: all ease .8s;
}

.hero_sec a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #3d5a80;
    border-radius: 50%;
    transition: all ease .8s;
    transform: scale(0);
    z-index: -1;
}

.hero_sec a:hover:before {
    transform: scale(1) translate(-30px, -70px);
}

.hero_sec a:hover {
    border-color: transparent;
    color: #fff;
}

.hero_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 100px;
}

.hero_sec_text {
    max-width: 385px;
    margin-left: 100px;
}

.hero_sec_img .block {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
}

.hero_sec_img{
    padding-right: 100px;
}

.hero_sec_img_inner {
    max-width: 440px;
    display: inline-block;
}

.block1 {
    background-color: #3d5a80;
    border-radius: 0 200px 0 0;
}

.block2 {
    background-color: #e0fbfc;
    border-radius: 200px 0 0 0;
}

.block3 {
    background-color: #ee6c4d;
    border-radius: 0 0 200px 0;
}

.block4 {
    background-color: #98c1d9;
    border-radius: 0 0 0 200px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0fbfc;
    z-index: 99999;
}